<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Turkology Annual Online</title>

    <link rel="canonical" href="{{ CANONICAL_URL|safe }}"/>
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/bootstrap.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'/>
    <link rel="SHORTCUT ICON" href="/static/images/favicon.ico"/>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="google-site-verification" content="wOupk6Fmvedt150cuYLtssmatgNERsTYIIAGvNUDbIw"/>
    {% block meta %}{% endblock %}


    <script type="text/javascript">mylist_messages = new Array("Add to My List", "Remove from My List");</script>

    <script type="text/javascript" src="/static/vendor/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/vendor/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>


    {% block script %}
    {% endblock %}
</head>


<body>

<div class="container-fluid" style="padding: 0;">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div class="container-fluid" style="padding: 0;">
                <div class="row no-gutters">
                    <div class="col align-right">
                        <div id="navi">{% include "navigation.html" %}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="header" class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <a href="http://www.asia-europe.uni-heidelberg.de">
                                        <div id="cluster-logo"></div>
                                    </a>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 40px; padding-bottom:10px;">
                                <div class="col text-left" id="header-left">
                                    <a href="/">Turkology Annual Online</a>
                                </div>

                                <div class="col-xl-4 float-right">
                                    <div id="quicksearch" title="Quick search">
                                        <form method="get" action="/" name="quicksearch">
                                            <input class="form-control" type="text" name="q"
                                                   value="{{ request.args.q or '' }}"
                                                   id="searchfield" placeholder="Search..."/>

                                            <span id="quicksearch-button"><input type="submit" value=""/></span>
                                        </form>

                                    </div><!--quicksearch-->

                                </div><!--header-right-->
                            </div>

                        </div><!--header-->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="middle">
                            <h1>Home</h1>
                            <div id="content">
                                {% block content %}{% endblock %}
                            </div><!--content-->
                        </div><!--midle-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
