{% block script %}

    <script type="text/javascript">

        function elementIsEmpty(el) {
            return /^(\s|&nbsp;)*$/.test(el.innerHTML);
        }

        function hideEmptyRows() {
            var table = document.getElementById("entry-body");
            for (var i = 0, row; row = table.rows[i]; i++) {
                if (elementIsEmpty(row.cells[1])) {
                    row.className = "hidden";
                }
            }
        }
    </script>
{% endblock %}


<table id="entry-body">
    <tr class="ta-makro">
        <th class="attribute">Volume:</th>
        <td>{{ citation.volume }}</td>
    </tr>
    <tr class="ta-makro">
        <th>Number:</th>
        <td>{{ citation.number }}</td>
    </tr>
    <tr>
        <th>Type:</th>
        <td>{{ citation.type }}</td>
    </tr>
    <tr{% if not citation.authors %} class="empty"{% endif %}>
        <th>
            Author(s):
        </th>
        <td>
            {% for author in citation.authors %}
                {{ author.raw }}<br/>
            {% endfor %}
        </td>
    </tr>

    {% if citation.editors %}
        <tr>
            <th>Editor(s):</th>
            <td>
                {% for author in citation.editors %}
                    {{ author.raw }}<br/>
                {% endfor %}
            </td>
        </tr>
    {% endif %}
    {% if citation.translators %}
        <tr>
            <th>Translator(s):</th>
            <td>
                {% for author in citation.translators %}
                    {{ author.raw }}<br/>
                {% endfor %}
            </td>
        </tr>
    {% endif %}


    <tr>
        <th>Title:</th>
        <td>{{ citation.title }}</td>
    </tr>

    <tr>
        <th>Location:</th>
        <td>{{ citation.location }}</td>
    </tr>
    <tr>
        <th>Publication date:</th>
        <td>{{ citation.datePublished }}</td>
    </tr>
    <tr>
        <th>In:</th>
        <td>
            {% if citation['in'] and citation['in'].type == 'ta' %}
                <a href="/entries/{{ citation['in'].volume }}/{{ citation['in'].number }}">
                    {{ citation['in'].raw }}
                </a>
            {% else %}
                {{ citation['in'] }}
            {% endif %}
        </td>
    </tr>

    {% if citation.pageStart %}
        <tr>
            <th>Page range:</th>
            <td>{{ citation.pageStart }}-{{ citation.pageEnd }}</td>
        </tr>
    {% endif %}
    {% if citation.numberOfPages %}
        <tr>
            <th>Number of pages:</th>
            <td>{{ citation.numberOfPages }} pages{% for material in citation.material %}, {{ material.count }} {{ material.type + ('s' if material.count > 1 else '') }}{% endfor %}</td>
        </tr>
    {% endif %}
    <tr{% if not citation.comment and not citation.bullets %} class="empty"{% endif %}>
        <th>Comments:</th>
        <td>
            <ul>
                {% if citation.weirdParentheses %}
                    <li>{{ citation.weirdParentheses }}</li>
                {% endif %}
                {% if citation.comment %}
                    <li>{{ citation.comment }}</li>{% endif %}
                {% for bullet in citation.amendments %}
                    <li>{{ bullet }}</li>{% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Articles:</th>
        <td>{{ citation.articles }}</td>
    </tr>

    {% if citation.reviews %}
        <tr{% if not citation.reviews %} class="empty"{% endif %}>
            <th>Reviews:</th>
            <td>
                <ul>
                    {% for review in citation.reviews %}
                        <li>{{ review }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>{% endif %}
    <tr{% if not citation.reports %} class="empty"{% endif %}>
        <th>Reports:</th>
        <td>
            <ul>{% for report in citation.reports %}
                <li>{{ report }}</li>{% endfor %}</ul>
        </td>
    </tr>
    <tr{% if not citation.abstracts %} class="empty"{% endif %}>
        <th>Abstracts:</th>
        <td>
            <ul>{% for abstract in citation.abstracts %}
                <li>{{ abstract }}</li>{% endfor %}</ul>
        </td>
    </tr>
    <tr{% if not citation.getCategories %} class="empty"{% endif %}>
    <tr>
        <th>Keywords:</th>
        <td>{{ '<br>'.join(citation.keywords) }}</td>
    </tr>
    <tr>
        <th>Abstract:</th>
        <td>{{ citation.abstract }}</td>
    </tr>
    <tr>
        <th>Raw string:</th>
        <td>{{ citation.rawText }}</td>
    </tr>
    <tr>
        <th>Structure:</th>
        <td>{{ citation.remainingText }}</td>
    </tr>
    <tr>
        <th>Fully parsed:</th>
        <td>{{ {True: 'Yes', False: 'No'}[citation.fullyParsed] }}</td>
    </tr>
    <tr>
        <th>Previous version:</th>
        <td>
            <a href="http://kjc-sv013.kjc.uni-heidelberg.de:8089/de/show_entry/{{ citation.volume }}/{{ citation.number }}">Link</a>
        </td>
    </tr>

</table>
