{% extends "base.html" %}
{% block title %}{{ number_of_matches }} {% if request.args.q %}matches for "{{ request.args.q }}"{% else %}citations
{% endif %}{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex"/>{% endblock %}
{% block script %}

    <script lang="javascript" type="text/javascript">
        function toggleFacet(name) {
            facet = document.getElementById(name);
            if (facet.style.display == "") {
                facet.style.display = "block";
            } else {
                facet.style.display = "";
            }
        };
    </script>
    {% block subscript %}
        <script type="text/javascript" src="/static/js/hitlist.js"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="dropdown justify-content-right">
                <button class="btn {% if fullyParsed %}btn-success{% elif fullyParsed == False %}btn-danger{% else %}btn-secondary{% endif %} dropdown-toggle"
                        type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Fully parsed
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item {% if fullyParsed %}active{% endif %}"
                       href="{{ modify_query(fullyParsed=1,page=None) }}">Yes</a>
                    <a class="dropdown-item {% if fullyParsed == False %}active{% endif %}"
                       href="{{ modify_query(fullyParsed=0,page=None) }}">No</a>
                    <a class="dropdown-item {% if fullyParsed == None %}active{% endif %}"
                       href="{{ modify_query(fullyParsed=None,page=None) }}">Any</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if pagination.previous %}
                        <li class="page-item"><a class="page-link" href="{{ pagination.previous }}">&laquo;</a></li>
                    {% endif %}
                    {% for page in pagination.pages %}
                        {% if page.url %}
                            <li class="page-item"><a class="page-link" href="{{ page.url }}">{{ page.number }}</a></li>
                        {% else %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pagination.next %}
                        <li class="page-item"><a class="page-link" href="{{ pagination.next }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>



    <div id="matches">
        {% for match in citations %}
            <div class="entry" id="entry-{{ match._id }}">
                <table>
                    <tr>
                        <td class="entry-nr"><a class="nr" href="?sess={{ search_key }}">
                            {{ loop.index0 + pagination.start_index }}</a>
                        </td>

                        <td class="entry-body">
                            <span class="title"><a
                                    href="entries/{{ match.volume }}/{{ match.number }}?sess={{ search_key }}"
                                    title="{{ match.title }}">{% if match.title %}
                                {{ match.title }}{% else %}{{ match.rawText }}{% endif %}</a></span>



                            {% if match.authors %}    <span class="author">
      {% for author in match.authors %}{{ author.raw }}{% if not loop.last %} - {% endif %}{% endfor %}</span>
                            {% endif %}
                            <span class="location-year">
    {% if match.location %}{{ match.location }}{% endif %}{% if match.datePublished and match.location %}, {% endif %}
    {% if match.datePublished %}{{ match.datePublished }}{% endif %}
    <span class="ta-pos">
      TA {{ match.volume }}, {{ match.number|safe }}
   </span>


                                {% if match.keywords %}
                                    <span class="keywords">
    <span class="field-name">Keywords:</span> {{ ' | '.join(match.keywords) }}</span>
                                {% endif %}

                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div><!--matches-->


    <div class="row">
        <div class="col text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if pagination.previous %}
                        <li class="page-item"><a class="page-link" href="{{ pagination.previous }}">Previous</a></li>
                    {% endif %}
                    {% for page in pagination.pages %}
                        {% if page.url %}
                            <li class="page-item"><a class="page-link" href="{{ page.url }}">{{ page.number }}</a></li>
                        {% else %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pagination.next %}
                        <li class="page-item"><a class="page-link" href="{{ pagination.next }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}
