<ul id="nav" class="dropdown dropdown-horizontal">

    <li><a href="/advanced_search">Search</a></li>
    <li class="dir">Browse
        <ul>
            <li><a href="/browse/ta">Volumes</a></li>
            <li><a href="/browse/keywords">Keywords</a></li>
            <li><a href="/browse/journals">Journals</a></li>
        </ul>
    </li>
    <li id="navi-mylist"><a href="">My List<span id="list_count">{% if session.mylist %} (
        {{ session.mylist|length }}){% endif %}</span></a></li>
    <li><a href="/about">About</a></li>
</ul>

