a { text-decoration: none;}
img { border: 0; }
.titel { font-weight: bold; }
.ohnetitel { font-size: 0.85em; font-style: italic; }
.autor { font-style: italic; }
.verkn { padding-top: 3px; font-variant:small-caps; }
.nohit { padding-top: 20px; }
.fehler { font-style: italic; color: #A00000; padding: 5px; padding-left: 0px; margin: 10px; margin-left: 0px;}
.loginbox { border: 1px solid #A0A0A0; background-color: #EEEEEE; padding: 5px; width: 55em; margin-bottom: 3px; }
.loginbox label { text-align: right; float: left; width: 11em; padding-right: 2px; }
.loginbox div { margin-bottom: 3px; }
.loginbox .logbut { margin-left: 2px; margin-top: 3px; padding-left: 11em; text-align: left; }
.zweigbox { border: 1px solid #A0A0A0; background-color: #EEEEEE; padding: 5px; width: 55em; margin-bottom: 3px; }
.ebox { background-color: #EEEEEE; border: 1px solid #A0A0A0; padding: 5px; width: 42em; margin-bottom: 3px; }
.ebox label { text-align: left; float: left; width: 8em; padding-right: 2px; }
.ebox div { margin-bottom: 3px; }
.pwbox label { text-align: left; float: left; width: 17em; padding-right: 2px; }
.pwbox { background-color: #EEEEEE; border: 1px solid #A0A0A0; padding: 5px; width: 55em; margin-bottom: 3px; }
.pwbox label { text-align: left; float: left; width: 17em; padding-right: 2px; }
.pwbox div { margin-bottom: 3px; }
.pwbox .logbut { margin-top: 3px; text-align: center; }
.titelbox { border: 1px solid #A0A0A0; background-color: #EEEEEE; width: 74em; padding: 5px; margin-right: 10px; padding-bottom: 3px; margin-bottom: 10px; }
.suchbox { border: 1px solid #A0A0A0; background-color: #EEEEEE; padding: 5px; padding-top: 6px; width: 74em; margin-right: 10px; padding-bottom: 2px; margin-bottom: 3px; text-align: left; }
.suchform { float: left; padding: 0; margin: 0; padding-right: 20px; }
.suchboxende { padding-bottom: 2px; float: none; clear: both; }
.kontobox { border: 1px solid #A0A0A0; background-color: #EEEEEE; padding: 5px; width: 55em; margin-right: 10px; padding-bottom: 2px; margin-bottom: 3px; }
.expbox { border: 1px solid #A0A0A0; background-color: #EEEEEE; padding: 5px; margin-bottom: 5px; width: 65em; }
.explists { color: #808080; font-size: 0.8em; }
.suchbuttons { text-align: left; padding-left: 0; margin-top: 2px; }
.indform { float: left; padding: 0; margin: 0; margin-right: 20px; }
.indform2 { float: none; clear: both; padding: 0; margin: 0; padding-top: 5px; margin-right: 20px; }
a.dym { font-weight: bold; }
div.dym { font-size: 1.1em; padding-top: 4px; }
div.dymhinw { background: #FFFFFF url('/opacicon/achtung-button.gif') no-repeat scroll 1px top; font-size: 0.9em; }
div.dymhinw p { margin: 2px; padding: 0px; padding-left: 20px; }
.sucherg { text-align: left; background: #FFFFFF; padding: 3px; padding-top: 1px; padding-bottom: 1px; border: #bcbec4 1px solid; margin-bottom: 1px; }
input.delbut { float:right; border: #bcbec4 1px solid; background-color: #eee; }
input.delbut2 { border: #bcbec4 1px solid; background-color: #eee; }
.alltext { float:left; }
input.button { border: #bcbec4 1px solid; background-color: #D0D0D0; }
input.suchbutton { border: black 1px solid; background-color: #D0D0D0; font-weight: bold; }
input.histbutton { border: #bcbec4 1px solid; background-color: #D0D0D0; font-size: 0.9em; }
input.indbutton { font-size: 0.85em; padding-left: 0; padding-right: 0; border: #bcbec4 1px solid; background-color: #D0D0D0; }
input.hiddbut { padding: 0; margin:0; width:0; height:0; border:0; }
.optbut { padding: 0px; margin: 0px; border: 0px; background-color: #EEEEEE; color:#000099; }
input.eingabe { background-color: #fff; border: #bcbec4 1px solid; }
textarea.eingabe { background-color: #fff; border: #bcbec4 1px solid; }
select.eingabe { border: #bcbec4 1px solid; font-size: 0.95em; }
#teilk2 { width: 35em; }
table.konto { border: 0px; margin-bottom: 10px; margin-top: 0px; border-collapse: collapse; width: 50em; }
table.kontopos { border: 0px; margin-bottom: 10px; margin-top: 10px; border-collapse: collapse; width: 50em; }
table.kontopos td { border-bottom: 1px solid #DEDEDE; padding-bottom: 6px; padding-top: 6px; }
.drilldown { border: 1px solid black; margin-left: 10px; padding: 5px; background-color: #EEEEEE;}
.drilldown p { margin: 0; padding-top: 0px; padding-bottom: 3px; }
.drilldown #dd ul { list-style: none; margin-top: 0px; padding-top: 2px; padding-left: 15px; font-size: 0.95em; }
.ddeinr {margin-left: 2em; list-style: circle outside;}
table.treffer { border: 0px; border-collapse: collapse; }
table.treffer td { padding-left: 0px; padding-right: 1px; padding-top: 5px; }
table.treffer td.kurztit { width: 38em; margin: 0px; padding-left: 5px; padding-bottom: 5px; border-bottom: 1px solid #A0A0A0; }
table.treffer td.kurzstat { margin: 0px; padding-left: 20px; padding-bottom: 5px; border-bottom: 1px solid #A0A0A0; }
table.treffer td.kurztitlast { width: 38em; margin: 0px; padding-left: 5px; padding-bottom: 5px; }
table.treffer td.kurzstatlast { margin: 0px; padding-left: 20px; padding-bottom: 5px; }
table.treffer tr:hover { background-color: #F9F9F9; }
.nr { font-size: 120%; }
table.export { border: 0px; border-collapse: collapse; }
table.export td { padding-top: 2px; padding-right: 3px; }
table.export td.kurztit { border-bottom: 1px solid #DEDEDE; }
table.export td.kopf { font-style: italic; padding-right: 3px ; margin: 0; border-bottom: 1px solid #DEDEDE; }
.expaktion { padding-bottom: 10px; padding-top: 2px; }
.expfunk { padding-top: 10px; padding-bottom: 2px; border-bottom: 1px solid #DEDEDE; }
table td { vertical-align: top; }
table th { vertical-align: top; }
table td.ind { vertical-align: middle; }
.suchopt { margin-left: 3px; margin-top: 2px; margin-bottom: 2px; }
.suchopt table { margin-left: 3px; margin-bottom: 7px; padding-left: 5px; border-left: 1px solid #bcbec4; text-align: left; }
.suchopt table th { vertical-align: top; text-align: left; padding-left: 0px; padding-right: 2px; font-weight: normal; padding-bottom: 0px; padding-top: 0px; }
.suchopt table td { padding-bottom: 0px; padding-top: 0px; }
.tzusatzinfo { float: left; margin-left: 20px; padding-left: 20px; border-left: 1px solid #DEDEDE;}
.cover2 { padding-top: 2px; padding-bottom: 2px; }
.titelsatz { float: left; width: 600px; }
table.titelsatz th { width: 11em; text-align: right; vertical-align: top;}
.titelsatzend { float: none; clear: both; }
.ex { margin-left: 3px; float: none; clear: both; padding-top: 15px; }
.ex table { margin-left: 10px; border-collapse: collapse; border: 1px solid #A0A0A0; }
.ex table th { border: 1px solid #A0A0A0; padding: 3px; }
.ex table td { border: 1px solid #A0A0A0; padding: 3px; }
.sigstatus { margin: 0; padding: 0; padding-top: 3px; }
.sigstatus .status { color: #A00000; }
.zinfo { padding-top: 10px; }
.volltext { padding-top: 10px; }
.suchhistbox { padding-right: 10px; float: left; margin: 0; width: 28em; }
.suchhist { margin-top: 0px; border: 1px solid #A0A0A0; width: 100%; }
.suchhist > p { margin: 0px; margin-top: 2px; margin-bottom: 2px; padding-left: 5px; }
.suchhist table { padding-left: 5px; }
.suchhist table td { font-size: 0.9em; vertical-align: top; }
.suchhist .hcheckb { margin: 0; padding: 0; }
.prech { margin-top: 4px; border: 1px solid #A0A0A0; width: 100%; }
.prech > p { margin: 0px; padding-left: 5px; }
.prech div { font-size: 0.9em; padding-left: 5px; }
.histverkn { text-align: right; padding: 2px; font-size: 0.9em; }
.status1 { padding: 3px; border: 1px solid #A00000; float: left; margin-bottom: 10px; }
.status2 { padding: 3px; padding-left: 10px; float: left; margin-bottom: 10px; }
.statusende { float: none; clear: both; padding-bottom: 5px; }
.status2a { padding-top: 7px; }
#hmenue { padding: 1px 0; margin: 0; margin-top: 5px; margin-left: 5px; width: 74em;}
#hmenue li {list-style: none; display: inline; margin: 0; }
#hmenue li a { padding: 1px 0.5em; margin-left: 3px; border: 1px solid #778; border-bottom: none; background: #FFFFFF; }
#hmenue li a#hmenuecurr {color: #A00000; background: #EEEEEE; border-bottom: 1px solid #EEEEEE; }
#hmenue li a#logout { font-weight: bold; background: white; padding-left: 10px; border: 0px; }
#hmenue #spr { font-weight: bold; background: white; padding-left: 5px; border: 0px; }
#hmenue li a#help { background: white; padding-left: 3px; border: 0px; }
#hmenue li a span {font-size: 0.75em}
#hmenue li.schrift { padding-left: 12px; padding-bottom: 0px; margin-bottom: 0px; }
.meld { padding-bottom: 10px; color: #A00000; font-weight: bold; }  
.meld2 { font-style: italic; }
.meld3 { font-style: italic; color: #A00000; }
.meld4 {font-style: italic; padding-top: 5px; }
#suchhilfe { background: #EEEEEE; padding: 3px; padding-top: 1px; padding-bottom: 1px; margin-bottom: 2px; width: 40em; }
#suchhilfe div { font-size: 0.85em; margin-left: 3px; padding-left: 3px; border-left: 1px solid #bcbec4; }
#suchhilfe div ul { margin: 0; padding: 0; padding-left: 20px; }
.rot { color: #A00000; font-weight: bold; }
.gruen { color: #00A000; }
.gruen2 { color: #00A000; font-size: 130%; font-weight: bold; }
.tuebersicht { float: left }
.katform { float: left; padding-left: 3em; font-size: 0.9em; }
.printform { float: left; padding-left: 2em; font-size: 0.9em; }
.naviend { float: none; clear: both; }
.printforms { padding-left: 2em; font-size: 0.9em; }
.expicon { padding-left: 1em; }
div.auto_complete { width: 300px; background: #fff; font-size: 0.85em; }
div.auto_complete ul { text-align: left; border:1px solid #888; margin:0; padding:0; width:100%; list-style-type:none; }
div.auto_complete ul li { margin:0; padding:3px; }
div.auto_complete ul li.selected { background-color: #FFFFCC; }
div.auto_complete ul strong.highlight { color: #800; margin:0; padding:0; }
.rsshinw {font-size: 0.9em; }
.klein {font-size: 0.9em; }
.intern { font-weight: bold; padding: 5px; }
.bibtex { font-size: 120%; padding: 4px; border: 1px solid #A0A0A0; background-color: #EEEEEE; }
.fussabstand { padding-bottom: 80px; }
table.indexinfo { border: 1px solid black; margin-left: 10px; padding: 2px; }
table.analyse { border-collapse: collapse;}
table.analyse td { margin: 0px; padding: 0px; padding-right: 10px; vertical-align: top;}
.analyset { padding: 5px; }
.einr { border-left: 1px solid #A0A0A0; margin-left: 30px; }
.op { font-variant: small-caps; color: #0000A0; }
.nulltreffer { color: #0000A0; }
.autocompl1 { font-size: 90%; }
.autocompl2 { font-size: 90%; color: #A0A0A0; }
.zw { position: relative; margin: 0px; padding: 19px 0px 0px 0px; top: 0px; background: transparent url('/opacicon/attention2.gif') no-repeat 10px 0; font-style: normal; }
.zwhinw { width: 69em; color: #A00000; margin-bottom: 8px; border: 1px solid #A00000; padding: 4px; padding-left: 20px; background: #FFDDDD url('/opacicon/attention1.gif') no-repeat 3px 3px; font-size: 95%; }
.motd { width: 69em; margin-bottom: 16px; border: 1px solid #C0C0C0; padding: 4px; padding-right: 20px; padding-top: 5px; padding-bottom: 10px; background: #FFFFFF; font-size: 95%; }
.motdueber { color: #808080; font-size: 110%; font-weight: bold; padding-bottom: 5px; }
.highlighttext { margin-left: 20px; font-size: 85%; border: 1px solid #A0A0A0; margin-top: 5px; }
.highlight { background-color: #FFCCCC; }
.aausgabe { background-color: #F0F0F0; padding: 2px; }
.listopt { padding-top: 3px; }
.unifloh { padding-left: 1em; padding-top: 2em; }
.unifloh2 { padding-top: 0.4em; }
.refmanager { font-size: 90%; padding-left: 1em; padding-top: 1em; }
.refmanager2 { font-size: 90%; padding-bottom: 0.4em; padding-top: 0.4em; }
.refmanager2 div { padding-top: 3px; text-indent: -2em; margin-left: 2em; }
.refmanager2 div ul { margin-top: 0; margin-bottom: 0; padding-top: 0; text-indent: 0; margin-left: 6px; padding-left: 0; padding-bottom: 0; }
.refmanager3 { font-size: 90%; padding-bottom: 0.4em; padding-top: 0.8em; }
.rating { padding-top: 1em; padding-bottom: 1em; font-size: 90%; }
#bibtip_reclist { padding: 4px; margin-top: 1em; margin-bottom: 1em; width: 17em; border: 1px solid #DEDEDE; }
#bibtip_reclist #more_button { font-size: 100%; font-style: italic; }
#bibtip_header { font-size: 90%; background: #FFFFFF url('http://recommender.bibtip.de/service/bibtip_bullett_grau.gif') no-repeat scroll 1px top; padding-left: 16px; }
#bibtip_title { display:block; }
#short_list ul { list-style-image:url('http://www.uni-heidelberg.de/images/uni/zentral/all/dot_liste_schwarz.gif'); font-size: 90%; margin-top: 3px; margin-bottom: 3px; padding-left: 2em; }
#long_list ul { list-style-image:url('http://www.uni-heidelberg.de/images/uni/zentral/all/dot_liste_schwarz.gif'); font-size: 90%; margin-top: 3px; margin-bottom: 3px; padding-left: 2em; }
#bibtip_footer { font-size: 90%; font-style: italic; }
#suchfeld { width: 30em; }
#suchfeld1 { width: 20em; }
#suchfeld2 { width: 20em; }
#suchfeld3 { width: 20em; }
#cb ul { padding-left: 2em; margin: 0; }
#cblist { display: none; }
#cbicon { margin-right: 4px; }
